/*  your css code here. If applicable */
body{
	background-color : #f5f5f5;
}
header{
	background-color: #011e29;
	width:100%;
	padding:10px;
	text-align:center;
	
}
h1{
	color:white;
	text-align: center;
	position:center
}
.holder {
  display: flex;        
  align-items: flex-start;  
gap:10px;
	
        
}
.latest-news-section{
	background-color:white;
	text-align: center;
	padding:20px;
	width:100px;
	border-radius:20px;
}
.pictorial-news-section{
	background-color:white;
	text-align: center;
	padding:20px;
	width:100px;
	border-radius:20px;
}
.item{
	background-color:white;
	text-align: center;
	padding:20px;
	width:100px;
	border-radius:20px;
}
